<!-- HEADER -->
<div class="navbar-fixed hide-on-unique">
    <nav class="container">
        <div class="nav-wrapper white">
            <a href="#" onclick="apretaste.send({'command':'TECNOLOGIA'})" class="brand-logo left">
                <h3>Tecnología</h3>
            </a>
            <ul class="right">
                <li><a onclick="apretaste.send({'command': 'TECNOLOGIA'})"><i class="material-icons grey-ddc">home</i></a></li>
                <li><a onclick="apretaste.send({'command': 'TECNOLOGIA COMENTARIOS'})"><i class="material-icons grey-ddc">comment</i></a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="row">
    {{APP_TEMPLATE_CODE}}
</div>
