<div class="row">
	<div class="col s12 center">
		<h1><%= header %></h1>
		<i class="material-icons large">sentiment_very_dissatisfied</i>
		<p><%= text %></p>
		<a class="waves-effect waves-light btn" href="#!" onclick="apretaste.send({'command':'TECNOLOGIA'})">Noticias</a>
	</div>
</div>